<div *ngIf="current" class="glass-card ion-padding ion-margin-top">
  
  <div class="ion-text-center">
    <h2 class="city-name">{{ current.city }}</h2>
    <p class="date-text">{{ current.date | date:'fullDate':'':(current.uvIndex ? 'en' : 'es') }}</p> 
    <img [src]="'https://openweathermap.org/img/wn/' + current.icon + '@4x.png'" 
         alt="icono del clima">

    <h1 class="temp-big">{{ current.temp }}°</h1>
    <p class="description">{{ current.description | titlecase }}</p>
  </div>

  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" class="ion-text-center">
        <ion-icon name="paper-plane-outline"></ion-icon>
        <p>{{ current.windSpeed }} km/h</p>
        <small>{{ 'WIND' | translate }}</small> </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-icon name="rainy-outline"></ion-icon>
        <p>{{ current.precip }}%</p>
        <small>{{ 'RAIN' | translate }}</small> </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-icon name="sunny-outline"></ion-icon>
        <p>{{ current.uvIndex }}</p>
        <small>{{ 'UV_INDEX' | translate }}</small> </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center mt-2">
      <ion-col size="4" class="ion-text-center">
        <ion-icon name="water-outline"></ion-icon>
        <p>{{ current.humidity }}%</p>
        <small>{{ 'HUMIDITY' | translate }}</small> </ion-col>

      <ion-col size="4" class="ion-text-center">
        <ion-icon name="thermometer-outline"></ion-icon>
        <p>{{ current.feelsLike }}°</p>
        <small>{{ 'FEELS_LIKE' | translate }}</small> </ion-col>
    </ion-row>
  </ion-grid>
</div>