<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6" class="ion-padding">
        
        <h1 class="ion-text-center ion-text-light" style="margin-top: 40px;">
          Weather <span style="font-weight: bold;">Sweet</span>
        </h1>

        <app-search-bar (search)="onSearch($event)" (gps)="onGps()"></app-search-bar>

        <div *ngIf="weatherData" style="background: white; padding: 10px; margin-top: 20px; border-radius: 10px;">
          <p>Ciudad: {{ weatherData.current.city }}</p>
          <p>Temp: {{ weatherData.current.temp }}°C</p>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>