.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  min-width: 75px;        /* Ancho fijo */
  padding: 15px 5px;
  margin-right: 12px;
  margin-bottom: 10px;    /* Separación vertical */
  
  background: rgba(0, 0, 0, 0.15); /* Fondo oscuro suave para contraste */
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,0.05);
}

.time {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 5px;
}

img {
  width: 45px;
  height: 45px;
  margin: 5px 0;
}

.temp {
  font-size: 1.2rem;
  font-weight: bold;
}